.Searchinput {
  text-align: center;
  display: inline-block;
}
.Searchinput {
  width: 300px;
  height: 42px;
  margin-left: 5rem;
  margin-top: 5rem;
}

.SearchButton {
  text-align: center;
  color: white;
  background-color: rgb(66, 182, 218);
  border: none;
  width: 5rem;
  height: 2.6rem;
  border-radius: 50px;
  margin-top: -3.1rem;
}
